<!-- Make a joined 'playlist' available as data context -->
<template name="PlaylistContainer">
  {{> Template.contentBlock playlist=playlist}}
</template>

<template name="PlaylistInfo">
  <p>Title: {{title}}</p>
  <p>Cover: {{cover}}</p>
</template>

<template name="Playlist">
  The real playlist:
  {{#each songs}}
    <div class="song">
      <p>{{title}}</p>
    </div>
  {{/each}}
  {{#if Template.subscriptionsReady}}
    {{#if hasMorePosts}}
      <a class="load-more" href="#">Load More</a>
    {{/if}}
  {{else}}
    <div class="loading">Loading...</div>
  {{/if}}
</template>
