<template name="lastPlaylistsContainer">
  {{#if Template.subscriptionsReady}}
    {{> Playlists playlists=playlists}}
  {{else}}
    Loading...
  {{/if}}
</template>

<template name="ownPlaylistsContainer">
  {{#if Template.subscriptionsReady}}
    {{> Playlists playlists=playlists}}
  {{else}}
    Loading...
  {{/if}}
</template>

<template name="followedPlaylistsContainer">
  {{#if Template.subscriptionsReady}}
    {{> Playlists playlists=playlists}}
  {{else}}
    Loading...
  {{/if}}
</template>

<template name="Playlists">
  <table>
    <tr>
      <th>Cover</th>
      <th>Title</th>
    </tr>
    {{#each playlists}}
      <tr>
        <td><img height="24" src="{{cover}}" /></td>
        <td><a href="{{pathFor route='playlists.single'}}">{{title}}</a></td>
      </tr>
    {{/each}}
  </table>
</template>
