<!-- Make a joined 'radio' available as data context -->
<template name="RadioContainer">
  {{> Template.contentBlock radio=radio subscriptionsReady=subscriptionsReady}}
</template>

<template name="RadioInfo">
  {{#if subscriptionsReady}}
    {{#with radio}}
      <p>Title: {{title}}</p>
      <p>Cover: {{cover}}</p>
    {{/with}}
  {{else}}
    Loading RadioInfo...
  {{/if}}
</template>

<template name="Radio">
  {{#if subscriptionsReady}}
    {{#with radio}}
      The real radio:
      {{#each songs}}
        <div class="song">
          Song: {{song.snippet.title}}
          <p>Added by {{author}}</p>
        </div>
      {{/each}}
    {{/with}}
  {{else}}
    Loading Radio...
  {{/if}}
</template>
